<!-- Used by theme-essays-builtin-1 -->

<a class="card" href="{{ site.baseurl}}{{ include.page.url }}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <div class="content">
    <span class="header">{{ include.page.title }}</span>
    <div class="meta">
      <span class="date">{{ include.page.date | date_to_string }}</span>
    </div>

    <div class="description">
      {{ include.page.content | markdownify | strip_html | truncatewords: 40 }}
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      {% for label in include.page.labels %}
      <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>

</a>
